/* line 1, ../../../app/stylesheets/web-app-theme/_base.sass */
* {
  margin: 0;
  padding: 0; }

/* line 6, ../../../app/stylesheets/web-app-theme/_base.sass */
.clear {
  clear: both;
  height: 0; }

/* line 11, ../../../app/stylesheets/web-app-theme/_base.sass */
h1 {
  margin: 15px 0;
  font-size: 22px;
  font-weight: normal; }

/* line 17, ../../../app/stylesheets/web-app-theme/_base.sass */
h2 {
  font-size: 22px;
  margin: 15px 0;
  font-weight: normal; }

/* line 23, ../../../app/stylesheets/web-app-theme/_base.sass */
h3 {
  font-size: 18px;
  margin: 10px 0;
  font-weight: normal; }

/* line 29, ../../../app/stylesheets/web-app-theme/_base.sass */
h4 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: normal; }

/* line 35, ../../../app/stylesheets/web-app-theme/_base.sass */
hr {
  height: 1px;
  border: 0; }

/* line 40, ../../../app/stylesheets/web-app-theme/_base.sass */
p {
  margin: 15px 0; }

/* line 44, ../../../app/stylesheets/web-app-theme/_base.sass */
a img {
  border: none; }

/* line 48, ../../../app/stylesheets/web-app-theme/_base.sass */
body {
  font-size: 12px;
  font-family: sans-serif; }

/* line 53, ../../../app/stylesheets/web-app-theme/_base.sass */
section, article, aside, header, footer, nav {
  display: block; }

/* line 57, ../../../app/stylesheets/web-app-theme/_base.sass */
#container {
  min-width: 960px; }

/* line 61, ../../../app/stylesheets/web-app-theme/_base.sass */
#header, #wrapper {
  padding: 0 20px; }

/* line 65, ../../../app/stylesheets/web-app-theme/_base.sass */
#header {
  position: relative;
  padding-top: 1px; }
  /* line 69, ../../../app/stylesheets/web-app-theme/_base.sass */
  #header h1 {
    margin: 0;
    padding: 10px 0;
    font-size: 30px; }
    /* line 75, ../../../app/stylesheets/web-app-theme/_base.sass */
    #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
      text-decoration: none; }

/* line 79, ../../../app/stylesheets/web-app-theme/_base.sass */
#main {
  width: 70%;
  float: left; }

/* line 84, ../../../app/stylesheets/web-app-theme/_base.sass */
.actions-bar {
  padding: 10px 1px; }
  /* line 87, ../../../app/stylesheets/web-app-theme/_base.sass */
  .actions-bar .actions {
    float: left; }
  /* line 90, ../../../app/stylesheets/web-app-theme/_base.sass */
  .actions-bar .pagination {
    float: right;
    padding: 1px 0; }

/* line 95, ../../../app/stylesheets/web-app-theme/_base.sass */
#sidebar {
  width: 25%;
  float: right; }
  /* line 99, ../../../app/stylesheets/web-app-theme/_base.sass */
  #sidebar h3 {
    padding: 10px 15px;
    margin: 0;
    font-size: 13px; }
  /* line 104, ../../../app/stylesheets/web-app-theme/_base.sass */
  #sidebar .block {
    margin-bottom: 20px;
    padding-bottom: 10px; }
    /* line 108, ../../../app/stylesheets/web-app-theme/_base.sass */
    #sidebar .block .content {
      padding: 0 15px; }
  /* line 112, ../../../app/stylesheets/web-app-theme/_base.sass */
  #sidebar ul.navigation li a:link, #sidebar ul.navigation li a:visited {
    display: block;
    padding: 10px 15px; }
  /* line 116, ../../../app/stylesheets/web-app-theme/_base.sass */
  #sidebar .block .sidebar-block, #sidebar .notice {
    padding: 10px; }

/* line 120, ../../../app/stylesheets/web-app-theme/_base.sass */
#wrapper {
  padding-top: 20px; }

/* line 125, ../../../app/stylesheets/web-app-theme/_base.sass */
#main .block {
  margin-bottom: 20px;
  padding-top: 1px; }
  /* line 129, ../../../app/stylesheets/web-app-theme/_base.sass */
  #main .block .content .inner {
    padding: 0 15px 15px; }
/* line 132, ../../../app/stylesheets/web-app-theme/_base.sass */
#main .main p.first {
  margin-top: 0; }

/* line 136, ../../../app/stylesheets/web-app-theme/_base.sass */
#user-navigation {
  position: absolute;
  top: 0px;
  right: 20px; }

/* line 142, ../../../app/stylesheets/web-app-theme/_base.sass */
#main-navigation {
  width: 100%; }

/* line 146, ../../../app/stylesheets/web-app-theme/_base.sass */
#user-navigation ul, #main-navigation ul, .secondary-navigation ul, #sidebar ul.navigation {
  margin: 0;
  padding: 0;
  list-style-type: none; }

/* line 152, ../../../app/stylesheets/web-app-theme/_base.sass */
#user-navigation ul li, #main-navigation ul li, .secondary-navigation ul li {
  float: left; }

/* line 156, ../../../app/stylesheets/web-app-theme/_base.sass */
#main-navigation ul li {
  margin-right: 5px; }

/* line 160, ../../../app/stylesheets/web-app-theme/_base.sass */
#user-navigation ul li {
  padding: 5px 10px; }

/* line 165, ../../../app/stylesheets/web-app-theme/_base.sass */
#main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
  text-decoration: none; }

/* line 170, ../../../app/stylesheets/web-app-theme/_base.sass */
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none; }

/* line 175, ../../../app/stylesheets/web-app-theme/_base.sass */
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none; }

/* line 179, ../../../app/stylesheets/web-app-theme/_base.sass */
#main-navigation ul li a {
  font-size: 15px;
  display: block;
  padding: 8px 15px; }

/* line 185, ../../../app/stylesheets/web-app-theme/_base.sass */
.secondary-navigation {
  font-size: 13px;
  border-bottom-width: 10px;
  border-bottom-style: solid; }
  /* line 190, ../../../app/stylesheets/web-app-theme/_base.sass */
  .secondary-navigation ul li a {
    display: block;
    padding: 10px 15px; }

/* line 195, ../../../app/stylesheets/web-app-theme/_base.sass */
#footer {
  padding-bottom: 20px; }

/* line 200, ../../../app/stylesheets/web-app-theme/_base.sass */
.pagination a {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px; }
/* line 208, ../../../app/stylesheets/web-app-theme/_base.sass */
.pagination span {
  padding: 2px 5px;
  margin-right: 5px;
  display: block;
  float: left;
  border-style: solid;
  border-width: 1px; }
  /* line 216, ../../../app/stylesheets/web-app-theme/_base.sass */
  .pagination span.current {
    font-weight: bold; }
/* line 219, ../../../app/stylesheets/web-app-theme/_base.sass */
.pagination a {
  text-decoration: none; }

/* line 223, ../../../app/stylesheets/web-app-theme/_base.sass */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px; }
  /* line 228, ../../../app/stylesheets/web-app-theme/_base.sass */
  .table th {
    padding: 10px;
    font-weight: bold;
    text-align: left; }
    /* line 233, ../../../app/stylesheets/web-app-theme/_base.sass */
    .table th.first {
      width: 30px; }
    /* line 236, ../../../app/stylesheets/web-app-theme/_base.sass */
    .table th.last {
      width: 200px; }
  /* line 239, ../../../app/stylesheets/web-app-theme/_base.sass */
  .table .checkbox {
    margin-left: 10px; }
  /* line 242, ../../../app/stylesheets/web-app-theme/_base.sass */
  .table td {
    padding: 10px; }
    /* line 245, ../../../app/stylesheets/web-app-theme/_base.sass */
    .table td.last {
      text-align: right; }

/* line 249, ../../../app/stylesheets/web-app-theme/_base.sass */
input.checkbox {
  margin: 0;
  padding: 0; }

/* line 255, ../../../app/stylesheets/web-app-theme/_base.sass */
.form .group {
  margin-bottom: 15px; }
/* line 259, ../../../app/stylesheets/web-app-theme/_base.sass */
.form div.left {
  width: 20%;
  float: left; }
/* line 263, ../../../app/stylesheets/web-app-theme/_base.sass */
.form div.right {
  width: 75%;
  float: right; }
/* line 268, ../../../app/stylesheets/web-app-theme/_base.sass */
.form .columns .column {
  width: 48%; }
/* line 271, ../../../app/stylesheets/web-app-theme/_base.sass */
.form .columns .left {
  float: left; }
/* line 274, ../../../app/stylesheets/web-app-theme/_base.sass */
.form .columns .right {
  float: right; }
/* line 277, ../../../app/stylesheets/web-app-theme/_base.sass */
.form label.label, .form input.text_field, .form textarea.text_area {
  font-size: 1.2em;
  padding: 1px 0;
  margin: 0; }
/* line 282, ../../../app/stylesheets/web-app-theme/_base.sass */
.form label.right {
  text-align: right; }
/* line 286, ../../../app/stylesheets/web-app-theme/_base.sass */
.form input.checkbox, .form input.radio {
  margin-right: 5px; }
/* line 290, ../../../app/stylesheets/web-app-theme/_base.sass */
.form label.checkbox, .form label.radio {
  line-height: 1.5em; }
/* line 293, ../../../app/stylesheets/web-app-theme/_base.sass */
.form label.label {
  display: block;
  padding-bottom: 2px;
  font-weight: bold; }
/* line 298, ../../../app/stylesheets/web-app-theme/_base.sass */
.form div.fieldWithErrors label.label {
  display: inline; }
/* line 301, ../../../app/stylesheets/web-app-theme/_base.sass */
.form .fieldWithErrors .error {
  color: red; }
/* line 304, ../../../app/stylesheets/web-app-theme/_base.sass */
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border-width: 1px;
  border-style: solid; }

/* line 310, ../../../app/stylesheets/web-app-theme/_base.sass */
ul.list {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  /* line 315, ../../../app/stylesheets/web-app-theme/_base.sass */
  ul.list li {
    clear: left;
    padding-bottom: 5px; }
    /* line 319, ../../../app/stylesheets/web-app-theme/_base.sass */
    ul.list li .left {
      float: left; }
      /* line 322, ../../../app/stylesheets/web-app-theme/_base.sass */
      ul.list li .left .avatar {
        width: 50px;
        height: 50px; }
    /* line 326, ../../../app/stylesheets/web-app-theme/_base.sass */
    ul.list li .item {
      margin-left: 80px; }
      /* line 329, ../../../app/stylesheets/web-app-theme/_base.sass */
      ul.list li .item .avatar {
        float: left;
        margin: 0 5px 5px 0;
        width: 30px;
        height: 30px; }

/* line 336, ../../../app/stylesheets/web-app-theme/_base.sass */
#box {
  width: 500px;
  margin: 50px auto; }
  /* line 340, ../../../app/stylesheets/web-app-theme/_base.sass */
  #box .block {
    margin-bottom: 20px; }
    /* line 343, ../../../app/stylesheets/web-app-theme/_base.sass */
    #box .block h2 {
      padding: 10px 15px;
      margin: 0; }
    /* line 347, ../../../app/stylesheets/web-app-theme/_base.sass */
    #box .block .content {
      padding: 10px 20px; }

/* line 1, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.small {
  font-size: 12px; }

/* line 5, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.gray {
  color: #999999; }

/* line 9, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.hightlight {
  background-color: #FFFFCC; }

/* line 14, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
a:link, a:visited, a:hover, a:active {
  color: #2F427A; }

/* line 18, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
h1, h2, h3 {
  color: #2F427A; }

/* line 22, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
a {
  -moz-outline: none; }

/* line 26, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
body {
  color: #222;
  background: #f0f0ee;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px; }

/* line 33, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
hr {
  background: #f0f0ee;
  color: #f0f0ee; }

/* line 38, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#header {
  background: #2F427A; }
  /* line 41, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #header h1 {
    padding: 20px 0; }
    /* line 45, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
    #header h1 a:link, #header h1 a:active, #header h1 a:hover, #header h1 a:visited {
      color: #FFF; }

/* line 49, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#user-navigation {
  top: auto;
  bottom: 5px;
  right: 25px; }

/* line 55, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main .block .content {
  background: #FFF;
  padding-top: 1px; }
  /* line 59, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #main .block .content h2 {
    margin-left: 15px; }

/* line 64, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar .block {
  background: #FFF; }
/* line 67, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar .notice {
  background: #FFFFCC; }
/* line 70, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar h3 {
  background: #2F427A;
  color: #FFF;
  border-bottom: 10px solid #262626;
  font-size: 15px; }

/* line 77, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main-navigation ul li {
  padding-left: 15px; }
  /* line 80, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #main-navigation ul li a {
    padding: 8px 0; }
  /* line 83, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #main-navigation ul li.active {
    padding: 0;
    margin-left: 15px;
    margin-left: 15px; }
    /* line 88, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
    #main-navigation ul li.active a {
      padding: 8px 15px; }

/* line 93, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar ul li a:link, #sidebar ul li a:visited {
  background: #FFF;
  border-bottom: 1px solid #F0F0EE;
  text-decoration: none; }
/* line 98, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar ul li a:hover, #sidebar ul li a:active {
  background: #316291;
  color: #FFF; }

/* line 103, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main-navigation {
  background: #262626; }
  /* line 106, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #main-navigation ul li {
    background: #262626;
    margin-right: 0; }
    /* line 110, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
    #main-navigation ul li.active {
      background: #f0f0ee; }
    /* line 114, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
    #main-navigation ul li a:link, #main-navigation ul li a:visited, #main-navigation ul li a:hover, #main-navigation ul li a:active {
      text-decoration: none;
      color: #FFF; }

/* line 120, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.secondary-navigation ul li a:link, .secondary-navigation ul li a:visited, .secondary-navigation ul li a:hover, .secondary-navigation ul li a:active {
  text-decoration: none;
  color: #FFF; }

/* line 126, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#user-navigation ul li a:link, #user-navigation ul li a:visited, #user-navigation ul li a:hover, #user-navigation ul li a:active {
  text-decoration: none;
  color: #FFF; }

/* line 131, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.secondary-navigation li a:hover {
  background: #5C637A; }

/* line 136, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main-navigation ul li.active a:link, #main-navigation ul li.active a:visited, #main-navigation ul li.active a:hover, #main-navigation ul li.active a:active {
  color: #262626; }

/* line 140, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.secondary-navigation {
  background: #2F427A;
  border-bottom-color: #262626;
  font-size: 15px; }
  /* line 145, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  .secondary-navigation ul li.active {
    background-color: #262626; }
    /* line 148, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
    .secondary-navigation ul li.active a:hover {
      background-color: #262626; }

/* line 152, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#footer .block {
  color: #FFF;
  background: #262626; }
  /* line 156, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #footer .block p {
    margin: 0;
    padding: 10px; }

/* line 162, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.pagination span, .pagination a {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-top: 4px; }
/* line 167, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.pagination span.current {
  background: #262626;
  color: #FFF;
  border-color: #262626; }
/* line 172, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.pagination a {
  color: #262626;
  border-color: #262626; }
  /* line 176, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  .pagination a:hover {
    color: #FFF;
    background: #262626; }

/* line 182, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.table th {
  background: #262626;
  color: #FFF; }
/* line 186, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.table td {
  border-bottom: 1px solid #F0F0EE; }

/* line 191, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.form input.text_field, .form textarea.text_area {
  width: 100%;
  border: 1px solid #262626; }
/* line 195, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.form input.button {
  background: #EEE;
  color: #262626;
  padding: 2px 5px;
  border: 1px solid #262626;
  cursor: pointer; }
/* line 202, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.form .description {
  font-style: italic;
  color: #8C8C8C;
  font-size: .9em; }

/* line 209, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.flash .message {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
  margin: 0 auto 15px; }
  /* line 215, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  .flash .message p {
    margin: 8px; }
/* line 218, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.flash .error {
  border: 1px solid #fbb;
  background-color: #fdd; }
/* line 222, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.flash .warning {
  border: 1px solid #fffaaa;
  background-color: #ffffcc; }
/* line 226, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.flash .notice {
  border: 1px solid #1FDF00;
  background-color: #BBFFB6; }

/* line 231, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
ul.list li {
  border-bottom-color: #F0F0EE;
  border-bottom-width: 1px;
  border-bottom-style: solid; }
  /* line 236, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  ul.list li .item .avatar {
    border-color: #F0F0EE;
    border-width: 1px;
    border-style: solid;
    padding: 2px; }

/* line 243, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#box .block {
  background: #FFF; }
  /* line 246, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #box .block h2 {
    background: #2F427A;
    color: #FFF; }

/* line 251, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

/* line 258, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main-navigation {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }
  /* line 264, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #main-navigation li {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; }

/* line 271, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.secondary-navigation, #main .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

/* line 279, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar .block, #sidebar h3 {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

/* line 286, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
ul.list li, #footer .block, .form input.button {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

/* line 293, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#box .block {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }
  /* line 299, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #box .block h2 {
    -moz-border-radius-topleft: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -webkit-border-top-right-radius: 4px; }

/* line 307, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.secondary-navigation li.first a, .secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

/* line 312, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.table th.last {
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px; }

/* line 317, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
.secondary-navigation ul li.first {
  -moz-border-radius-topleft: 4px;
  -webkit-border-top-left-radius: 4px; }

/* line 322, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#sidebar {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }
  /* line 328, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
  #sidebar .block {
    -moz-border-radius-bottomleft: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -webkit-border-bottom-right-radius: 4px; }

/* line 335, ../../../app/stylesheets/web-app-theme/themes/_blue.sass */
#main .block, #sidebar ul.navigation, ul.list li, #footer .block, .form input.button, #box .block {
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px; }
